* {
  box-sizing: border-box;
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.header {
  background-image: url(/img/body-background.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(41, 43, 44, 0.5);
  background-blend-mode: multiply;
}

body::before {
    display: block;
    content: '';
    height: 70px;
  }

.text-yellow{
    color: #E0C28F;
    font-weight: bold;
}

.nav {
    color: #000;
    font-weight: bold;
    backdrop-filter: blur(0.7rem);
    box-shadow: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
  }

.skills {
  background-color: rgba(41, 43, 44, 0.8);
  backdrop-filter: blur(0.6rem);
  box-shadow: 1rem;
  border-radius: 10px;
  margin: 3%;
}

.h6 b {
  color: aliceblue;
}

@media (min-width: 768px) {
  .portrait {
    width: 50%;
  }
}

@media (min-width: 992px) {
    .short-story {
      width: 50%;
    }
    .p5 {
      padding: 1rem;
    }
  }